---
---
// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #6588b5;
$header-bg-color-secondary: #6588b5;

// Text
$section-headings-color: #2b2b2b;
$body-text-color: #2b2b2b;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #ebebeb;
$code-text-color: #555555;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
	
@import "{{ site.theme }}";

body {
  font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
  max-width: 72rem;
}

.page-header {
  background-color: transparent;
  background-image: none;
  color: #3e3e3e;
  padding: 20px 0;
}

.project-name {
  margin: 20px 0;
}

.project-tagline {
  margin: 10px 0;
}